/* Стилове за home-container */
.home-container {
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 3em;
  color: #ffe699;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  margin-top: 90px;
}


.wisdom-section {
  margin-top: 80px;
}

.wisdom-section ul {
  list-style: none; 
  padding: 0; 
}

.wisdom-section ul li {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic; 
  color: #ffffff; 
  padding: 20px; 
  margin: 20px auto; 
  max-width: 800px; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-left: 5px solid #ff4500; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); 
}


@media (max-width: 1024px) {
  .home-container h1 {
    font-size: 2.5em; 
    margin-top: 60px; 
  }

  .wisdom-section ul li {
    font-size: 1.3em; 
    padding: 15px; 
    margin: 15px auto; 
    max-width: 700px; 
  }
}

@media (max-width: 768px) {
  .home-container h1 {
    font-size: 2em; 
    margin-top: 40px; 
  }

  .wisdom-section ul li {
    font-size: 1.2em; 
    padding: 10px; 
    margin: 10px auto; 
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .home-container h1 {
    font-size: 1.5em;
    margin-top: 20px; 
  }

  .wisdom-section ul li {
    font-size: 1em; 
    padding: 8px;
    margin: 8px auto; 
    max-width: 100%; 
  }
}

  
 
 